.card-color {
  background-color: #191c20;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 10s linear infinite;
}
